@import url(https://fonts.googleapis.com/css?family=Imprima);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Asap);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Advent+Pro);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Shanti);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Doppio+One);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

body {
	font-family: sans-serif;
}



#imprima {
	font-family: Imprima;
}

#open_sans {
	font-family: 'Open Sans';
  /* font-weight: 700; */
}

#bitter {
	font-family: bitter;
}

#asap {
	font-family: asap;
}

#bree_serif {
	font-family: 'Bree Serif';
}

#ubuntu {
	font-family: Ubuntu;
}

#advent_pro {
	font-family: 'Advent Pro';
}

#pt_sans {
	font-family: 'PT Sans';
}

#shanti {
	font-family: Shanti;
}

#yanone {
	font-family: 'Yanone Kaffeesatz';
}

#doppio_one {
	font-family: 'Doppio One';
}

#droid_sans {
	font-family: 'Droid Sans';
}

#droid_serif {
	font-family: 'Droid Serif';
}

#merriweather {
  font-family: 'Merriweather', serif;
}
